@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Open+Sans:wght@500&family=Orbitron:wght@400;500&family=Roboto&family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #121212;
    --second-bg: #222222;
    --text-color: #F4EEE0;
    --tertiary-text: #c7900f;
    --secondary-text: #bdbdbd;
    --hover-color: rgb(245,158,11);
}

body{
    min-height: 150vh;
    background: var(--bg-color);
    width: 100%;
}
body::before{
    display: block;
    content: '';
    height: 6rem;
}

/*todo NAVBAR*/
.navbar{
    background: var(--bg-color);
}

#navbar-ul li{
    margin: 0.1em;
    border-radius: 0.8rem;
}
#navbar-ul li a{
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    transition: 0.2s linear;
}
#navbar-ul li a:hover{
    transform: scale(1.1);
    letter-spacing: 0.1em;
}

/* Style the list items inside the dropdown */
/* Style the list items inside the dropdown */
#navbar-ul .dropdown-item {
    margin: 0.1em;
    border-radius: 0.8rem;
}

.dropdown-menu{
    background: var(--bg-color);
}

/* Style the links inside the dropdown */
#navbar-ul .dropdown-item a {
    color: var(--text-color);
    font-family: 'Goldman', cursive;
    transition: 0.2s linear;
}
#navbar-ul .dropdown-item:hover {
    background-color: #198754;
}


#homepage{
    width: 100%;
    min-height: 600px;
}

#container-form {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */

}
  
/**FORM STYLE*/
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto; /* Center the form within the container */
    max-width: 300px; /* Adjust the maximum width as needed */
    width: 100%;
    padding: 2rem;
    box-shadow: rgba(54, 241, 110, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  }
  
  .input-group {
    position: relative;
  }
  
  .input {
    border: solid 1.5px #9e9e9e;
    background: none;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Other browsers */
  }
  
  .input[type="number"]::-webkit-inner-spin-button,
  .input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .input:focus,
  input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
  }
  
  .input:focus~.user-label,
  input:valid~.user-label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
  } 
  


/*! BUTTON and LIST*/
.button {
  background-color: #ffffff00;
  color: #fff;
  width: 90%;
  margin: 0 auto;
  height: 2.9em;
  border: #4f992d 0.2em solid;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: #4f992d;
  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 auto;
  text-align: center;
}
  
#searchResults {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15rem;
    background-color: #282828;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

#searchResults thead {
    background-color: #333;
    color: #fff;
}

#searchResults th, #searchResults td {
    padding: 8px;
    text-align: left;
    color: var(--text-color);
    border-bottom: 1px solid #555;
}

#searchResults tbody tr:hover {
    background-color: #444;
}

#searchResults td strong {
    font-weight: bold;
    color: #f5f5f5;
}

#searchResults td span {
    color: #bdbdbd;
}

#searchResults td .delete-btn {
    background-color: #ff5555;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchResults td .delete-btn:hover {
    background-color: #ff3333;
}
#searchResults td .edit-btn {
  background-color: #b2b425;
  color: #fff;
  border: none;
  padding: 4px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchResults td .edit-btn:hover {
  background-color: #ac8d06;
}


/*todo This style is for the headings only*/
#heading{
  background: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.801)), url("../Images/wallpaperflare.com_wallpaper\ \(1\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 2rem;
  margin: 5rem 0;
}
#heading h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 4.236rem;
    text-align: center;
    color: var(--tertiary-text);
}
#main-heading{
  background: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.801)), url("../Images/wallpaperflare.com_wallpaper\ \(1\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 2rem;
}
#main-heading h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 6.236rem;
    text-align: center;
    color: var(--tertiary-text);
}
h2{
    font-size: 3.236rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: var(--secondary-text);

}
h4{
    font-size: 2.236rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: var(--secondary-text);

}

#treasurer-section{
  background-image: url("../Images/Background.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#treasurer-section h3{
    font-family: 'Orbitron', sans-serif;
}
/*!toast/
/* Center the toast */
.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 2rem auto;
    width: 100%;
    max-width: 400px;
    transform: translate(-50%, -50%);
    overflow: hidden;
}


/*! Card Section for TREASURER*/
.card {
    width: 190px;
    height: 254px;
    background: url("../Images/CIARLIEN2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 5rem;
  }
  
  .card:hover {
    width: 190px;
    height: 254px;
    background-image: url("../Images/CIARLIEN.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 20px;
    background-color: #dfdfdf;
    transition: all .5s;

    box-shadow: #959595 0px 0px 0px 10px;
    
  }
    


/**FOOTER STYLE*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:rgb(112, 204, 51);
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}   

/**END OF FOOTER*/
@media screen and (max-width: 1024px) {
  .navbar-toggler{
    padding: 0;
}
.custom-toggler .navbar-toggler-icon {
    background-color: var(--tertiary-text);
    padding: 1.5rem;
    border-radius: 5px;                       
}
    .toast {
        width: 70%; /* Adjust the width as needed for larger screens */
        max-width: 300px;
    }
    #main-heading h1{
        font-family: 'Orbitron', sans-serif;
        font-size: 3.236rem;
        text-align: center;
        color: var(--tertiary-text);

    }
    #heading h1{
        font-family: 'Orbitron', sans-serif;
        font-size: 3.236rem;
        text-align: center;
        color: var(--tertiary-text);
    }
    h2{
        font-size: 2.236rem;
        text-align: center;
        font-family: 'Orbitron', sans-serif;
        color: var(--secondary-text);
    
    }
    h4{
        font-size: 1.236rem;
        text-align: center;
        font-family: 'Orbitron', sans-serif;
        color: var(--secondary-text);
    
    }
    .card {
      width: 100%; /* Make the card full width */
      max-width: 300px; /* Set a maximum width if needed */
      margin: 0 auto; /* Center the card */
      margin-bottom: 2rem; /* Adjust margin as needed */
    }
  
    .card:hover {
      width: 100%; /* Make the card full width on hover */
    }
  
}