@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Open+Sans:wght@500&family=Orbitron:wght@400;500&family=Roboto&family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #121212;
    --second-bg: #222222;
    --text-color: #F4EEE0;
    --tertiary-text: #c7900f;
    --secondary-text: #bdbdbd;
    --hover-color: rgb(245,158,11);
}

body{
    min-height: 150vh;
    background: var(--bg-color);
    width: 100%;
}
body::before{
    display: block;
    content: '';
    height: 1rem;
}

/*todo NAVBAR*/
.navbar{
    background: var(--bg-color);
}

#navbar-ul li{
    margin: 0.1em;
    border-radius: 0.8rem;
}
#navbar-ul li a{
    color: var(--text-color);
    font-family: 'Goldman', cursive;
    transition: 0.2s linear;
}
#navbar-ul li a:hover{
    transform: scale(1.1);
    letter-spacing: 0.1em;
}

/* Style the list items inside the dropdown */
/* Style the list items inside the dropdown */
#navbar-ul .dropdown-item {
    margin: 0.1em;
    border-radius: 0.8rem;
}

.dropdown-menu{
    background: var(--bg-color);
}

/* Style the links inside the dropdown */
#navbar-ul .dropdown-item a {
    color: var(--text-color);
    font-family: 'Goldman', cursive;
    transition: 0.2s linear;
}
#navbar-ul .dropdown-item:hover {
    background-color: #198754;
}


/* todo MAIN PAGE */
#homepage{
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.801)), url("./Assets/Images/BSIT-1B 1ST PHOTO.png");    
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#homepage h1{
    font-size: 7.594rem;
    font-family: 'Orbitron', sans-serif;
    color: var(--text-color);
}
#homepage p{
    color: var(--secondary-text);
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;}


/*todo SPACE DIVIDER*/
#space-divide{
    padding: 2rem;
    background-image: url("./Assets/Images/Keyboard.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

#space-divide h1{
    font-family: 'Orbitron', sans-serif;
    color: var(--tertiary-text);
    font-size: 4.716rem;
    text-shadow: 1px 0px 25px rgba(23, 17, 2, 1);

}
#space-divide p{
    font-size: 1.295rem;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text);
}
#space-divide strong{
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.1rem;
    color: rgb(63, 196, 11);
    text-shadow: 1px 0px 25px rgba(16, 87, 54, 1);
}
@media screen and (max-width: 1024px) {
    .navbar-toggler{
        padding: 0;
    }
    .custom-toggler .navbar-toggler-icon {
        background-color: var(--tertiary-text);
        padding: 1.5rem;
        border-radius: 5px;
      }
    
    
    #homepage{
        background-image: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.801)), url("./Assets/Images/BSIT-1B\ Discord\ Logo.png");    
    }
    #homepage h1{
        font-size: 3rem;
        overflow: hidden;
        text-align: center;
        font-family: 'Orbitron', sans-serif;
        color: var(--text-color);
    }
    #homepage p{
        text-align: center;
        overflow: hidden;
        color: var(--secondary-text);
        font-size: 1.5rem;
    }
    #space-divide h1{
        font-size: 2.716rem;
    
    }

}