@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Open+Sans:wght@500&family=Orbitron:wght@400;500&family=Roboto&family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #121212;
    --second-bg: #222222;
    --text-color: #F4EEE0;
    --tertiary-text: #c7900f;
    --secondary-text: #bdbdbd;
    --hover-color: rgb(245,158,11);
}

body{
    min-height: 150vh;
    background: var(--bg-color);
    width: 100%;
}
body::before{
    display: block;
    content: '';
    height: 6rem;
}

/*todo NAVBAR*/
.navbar{
    background: var(--bg-color);
}

#navbar-ul li{
    margin: 0.1em;
    border-radius: 0.8rem;
}
#navbar-ul li a{
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    transition: 0.2s linear;
}
#navbar-ul li a:hover{
    transform: scale(1.1);
    letter-spacing: 0.1em;
}

/* Style the list items inside the dropdown */
/* Style the list items inside the dropdown */
#navbar-ul .dropdown-item {
    margin: 0.1em;
    border-radius: 0.8rem;
}

.dropdown-menu{
    background: var(--bg-color);
}

/* Style the links inside the dropdown */
#navbar-ul .dropdown-item a {
    color: var(--text-color);
    font-family: 'Goldman', cursive;
    transition: 0.2s linear;
}
#navbar-ul .dropdown-item:hover {
    background-color: #198754;
}


/**todo Gallery Carousel*/
.bg-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.822)), url("../Images/photo1.jpg");    
}
.bg-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.822)), url("../Images/photo2.jpg");    
}
.bg-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.822)), url("../Images/photo3.jpg");    
}
.bg-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.822)), url("../Images/photo4.jpg");    
}

.carousel-inner{
    width: 100%;
    height: 110vh;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.carousel-image{
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
}

#carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to full viewport height */
}

#carousel-container h1 {
    font-size: 7rem;
    color: var(--secondary-text);
    font-family: 'Orbitron', sans-serif;
}

@media screen and (max-width: 1024px) {
    #carousel-container h1 {
        font-size: 4rem;
    }
}


