@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --bg-color: #121212;
  --second-bg: #222222;
  --text-color: #F4EEE0;
  --tertiary-text: #c7900f;
  --secondary-text: #bdbdbd;
  --hover-color: rgb(245, 158, 11);
}

#Gallery-space {
  background: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.801)),
    url("../Images/wallpaperflare.com_wallpaper\ \(1\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#Gallery-space span {
  color: var(--tertiary-text);
  font-family: 'Orbitron', sans-serif;
  font-size: 4.827rem;
  text-align: center;
  font-weight: 900;
  margin: 3rem;
}

#Gallery-space span:nth-child(2) {
  color: var(--tertiary-text);
  font-family: 'Roboto', sans-serif;
  font-size: 1.827rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 2px;
}

.container-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imageheader {
  width: calc(33% - 6px);
  overflow: hidden;
  height: fit-content;
  margin: 3px;
  padding: 0;
  position: relative;
}

.imageheader img {
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display: block;
  height: 50vh;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}

.title,
.text {
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.title {
  top: 35%;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
  color: var(--text-color);
}

.text {
  top: 70%;
  max-width: 80%;
  text-shadow: 1px 5px 10px black;
  color: var(--secondary-text);
  font-size: 1rem;
  transition-duration: .3s;
}

.imageheader:hover img {
  transform: scale(1.2);
  filter: grayscale(50%);
  opacity: .7;
}

.imageheader:hover .title,
.imageheader:hover .text {
  display: block;
  transition-duration: .3s;
}

@media screen and (max-width: 1024px) {
  #card-title h2{
      font-size: 2.5rem;

  }
  
  
}

@media only screen and (max-width: 900px) {
  #Gallery-space span {
    font-size: 2.827rem;

  }
  
  #Gallery-space span:nth-child(2) {
    font-size: 1.327rem;
  }
}
@media only screen and (max-width: 400px) {
  .imageheader {
        width: 100%;
    }

    .title{
      font-size: 2rem;
    }
    .text{
      font-size: 0.9rem;
    }
}

