.profileImage1{
    background-image: url("./Members/ACEDO\,\ JHON\ PATRICK\ D.\ .jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.profileImage2{
    background-image: url("./Members/ALEÑAR\,\ PHILIP\ MAXIMILLAN\ H.\ .jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.profileImage3{
    background-image: url("./Members/ANILAO\,\ KEAN\ KYLE\ F_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}
.profileImage4{
    background-image: url("./Members/ARELLANO\,\ WENDYL\ ZIV\ S_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.profileImage5{
    background-image: url("./Members/BALLARES\,\ KENT\ ADRIAN\ D_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.profileImage6{
    background-image: url("./Members/CORPUZ\,\ JERLYN\ P_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.profileImage7{
    background-image: url("./Members/CORPUZ\,\ KIRT\ VINCENT\ O_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}
.profileImage8{
    background-image: url("./Members/DAWAL\,\ FILBERT\ B_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.profileImage9{
    background-image: url("./Members/DE\ GRACIA\,\ KLARENCE\ A_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}
.profileImage10{
    background-image: url("./Members/DUMANDAN\,\ KOBE\ G_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}
.profileImage11{
    background-image: url("./Members/DURAN\,\ CHRISTIAN\ DAVE\ S_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.profileImage12{
    background-image: url("./Members/ELEVIRA\,\ HERALD\ JAY\ A_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}